/* Inbox Loading Effect */
.a1 {
    .ibx {
        position: relative;
        width: 200px;
        height: 50px;

        margin-right: auto;
        margin-left: auto;
        
        font-size: 50px;
    }

    .ibx .ibx-inbx {
        position: absolute;
        top: 0;
        left: 0;
        
        z-index: 1;
    }

    .ibx .ibx-env {
        position: absolute;
        right: 39px;
        bottom: 0px;
        
        color: $accentColor;
        
        background-color: white;
        
        z-index: 2;
    }
    
    .ibx .fa-align-right {
        position: absolute;
        right: 101px;
        bottom: 0px;
        
        font-size: 34px;
        
        z-index: 2;
        
        transform: rotate(180deg) rotateY(180deg);
        
        opacity: 0;
        
    }

    @keyframes a1-in  {
        0% {
            color: white;
        }
        
        50% {
            color: white;
        }
        
        to {
            color: $fontColor;
        }
    }

    @keyframes a1-out  {
        0% {
            color: $fontColor;
        }
        
        50% {
            color: white;
        }
        
        to {
            color: white;
        }
    }
    
    @keyframes a1-slideInLeft {
        from {
          -webkit-transform: translate3d(-400px, 0, 0);
          transform: translate3d(-400px, 0, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes a1-slideInLeft-woosh {
        from {
          -webkit-transform: translate3d(-400px, 0, 0);
          transform: translate3d(-400px, 0, 0) rotate(180deg) rotateY(180deg);
          visibility: visible;
          opacity: 1;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0) rotate(180deg) rotateY(180deg);
          opacity: 0;
        }
    }
    
    
    .ce-run .ibx-inbx {
        animation-name: a1-in;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .ce-run .ibx-env {
        animation-name: a1-slideInLeft;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .ce-run .fa-align-right {
        display: block;
        animation-name: a1-slideInLeft-woosh;
        animation-duration: 1s;
        transform: rotate(180deg) rotateY(180deg);
    }
    
    .loading-bar-container {
        position: relative;
    }
    
}