/* Inbox Loading Effect */
.a1 {
    .ibx {
        position: relative;
        width: 200px;
        height: 50px;

        margin-right: auto;
        margin-left: auto;
        
        font-size: 50px;
    }

    .ibx .ibx-inbx {
        position: absolute;
        top: 0;
        left: 0;
        
        z-index: 1;
    }

    .ibx .ibx-env {
        position: absolute;
        right: 39px;
        bottom: 0px;
        
        color: $accentColor;
        
        background-color: white;
        
        z-index: 2;
    }
    
    .ibx .fa-align-right {
        position: absolute;
        right: 101px;
        bottom: 0px;
        
        font-size: 34px;
        
        z-index: 2;
        
        transform: rotate(180deg) rotateY(180deg);
        
        opacity: 0;
        
    }

    @keyframes a1-in  {
        0% {
            color: white;
        }
        
        50% {
            color: white;
        }
        
        to {
            color: $fontColor;
        }
    }

    @keyframes a1-out  {
        0% {
            color: $fontColor;
        }
        
        50% {
            color: white;
        }
        
        to {
            color: white;
        }
    }
    
    @keyframes a1-slideInLeft {
        from {
          -webkit-transform: translate3d(-400px, 0, 0);
          transform: translate3d(-400px, 0, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes a1-slideInLeft-woosh {
        from {
          -webkit-transform: translate3d(-400px, 0, 0);
          transform: translate3d(-400px, 0, 0) rotate(180deg) rotateY(180deg);
          visibility: visible;
          opacity: 1;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0) rotate(180deg) rotateY(180deg);
          opacity: 0;
        }
    }
    
    $loadBarWidth: 200px;
    
    @keyframes a1-loadBar1 {
        0% {
            width: 0px;
        }
        
        25% {
            width: 100%;
        }
        
        50% {
            width: 100%;
        }
        
        75% {
            width: 0px;
        }
        
        100% {
            width: 0px;
        }
    }
    
    @keyframes a1-loadBar1 {
        0% {
            width: 0px;
        }
        
        25% {
            width: 0px;
        }
        
        50% {
            width: 200px;
        }
    }
    
    @keyframes a1-loadBar1 {
        0% {
            width: 0px;
        }
    }

    .a1-run .ibx-inbx {
        animation-name: a1-in;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .a1-run .ibx-env {
        animation-name: a1-slideInLeft;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .a1-run .fa-align-right {
        display: block;
        animation-name: a1-slideInLeft-woosh;
        animation-duration: 1s;
        transform: rotate(180deg) rotateY(180deg);
    }

    .a1-end .ibx-inbx {
        animation-name: a1-out;
        animation-duration: 1s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }

    .a1-end .ibx-env {
        animation-name: a1-hinge;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    
    .loading-bar-container {
        position: relative;
        width: $loadBarWidth;
        
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        height: 30px;
    }
    
    .loading-bar {
        position: relative;
        // top: 0px;
        // left: 0px;
        // right: 0px;
        // bottom: 0px;
        height: 10px;
        
    }
    
    .bar1 {
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: map-get($map: $blue, $key: "darken-2");
        z-index: 4;
    }
    
    .bar2 {
        background-color: $accentColor;
        z-index: 3;
    }
    
    .bar3 {
        background-color: map-get($map: $purple, $key: "darken-2");
        z-index: 2;
    }
    
    .a1-run .bar1 {
        animation-name: a1-loadBar1;
        animation-duration: 4s;
    }
    
    .a1-run .bar2 {
        
    }
    
    .a1-run .bar2 {
        
    }
}