/* Inbox Loading Effect */
.a2 {
    .ibx {
        position: relative;
        width: 200px;
        height: 50px;

        margin-right: auto;
        margin-left: auto;
        
        font-size: 50px;
    }

    .ibx .ibx-inbx {
        position: absolute;
        top: 0;
        left: 0;
        
        z-index: 1;
    }

    .ibx .ibx-env {
        position: absolute;
        right: 39px;
        bottom: 0px;
        
        color: $accentColor;
        
        background-color: white;
        
        z-index: 2;
    }
    
    .ibx .fa-align-right {
        position: absolute;
        right: 101px;
        bottom: 0px;
        
        font-size: 34px;
        
        z-index: 2;
        
        transform: rotate(180deg) rotateY(180deg);
        
        opacity: 0;
        
    }

    @keyframes a2-in  {
        0% {
            color: white;
        }
        
        50% {
            color: white;
        }
        
        to {
            color: $fontColor;
        }
    }

    @keyframes a2-out  {
        0% {
            color: $fontColor;
        }
        
        50% {
            color: white;
        }
        
        to {
            color: white;
        }
    }
    
    @keyframes a2-hinge {
        0% {
          -webkit-transform-origin: top left;
          transform-origin: top left;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
        }
      
        20%,
        60% {
          -webkit-transform: rotate3d(0, 0, 1, 80deg);
          transform: rotate3d(0, 0, 1, 80deg);
          -webkit-transform-origin: top left;
          transform-origin: top left;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
        }
      
        40% {
          -webkit-transform: rotate3d(0, 0, 1, 60deg);
          transform: rotate3d(0, 0, 1, 60deg);
          -webkit-transform-origin: top left;
          transform-origin: top left;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          opacity: 1;
        }
        
        80% {
            -webkit-transform: rotate3d(0, 0, 1, 80deg);
            transform: rotate3d(0, 0, 1, 80deg);
            -webkit-transform-origin: top left;
            transform-origin: top left;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            opacity: 1;
          }
      
        to {
          -webkit-transform: translate3d(0px, 125px, 0px);
          transform: translate3d(-50px, 125px, 0px);
          opacity: 0;
        }
    }
    
    @keyframes a2-slideInLeft {
        from {
          -webkit-transform: translate3d(-400px, 0, 0);
          transform: translate3d(-400px, 0, 0);
          visibility: visible;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes a2-slideInLeft-woosh {
        from {
          -webkit-transform: translate3d(-400px, 0, 0);
          transform: translate3d(-400px, 0, 0) rotate(180deg) rotateY(180deg);
          visibility: visible;
          opacity: 1;
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0) rotate(180deg) rotateY(180deg);
          opacity: 0;
        }
    }
        

    .a2-run .ibx-inbx {
        animation-name: a2-in;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    .a2-run .ibx-env {
        animation-name: a2-slideInLeft;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    
    .a2-run .fa-align-right {
        display: block;
        animation-name: a2-slideInLeft-woosh;
        animation-duration: 1s;
        transform: rotate(180deg) rotateY(180deg);
    }

    .a2-end .ibx-inbx {
        animation-name: a2-out;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }

    .a2-end .ibx-env {
        animation-name: a2-hinge;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    
    .mail-slot-container {
        margin-top: 100px;
        position: relative;
    }
    
    
    @keyframes a2-slot-x {
        0% {
            width: 100px;
            height: 0px;
            border-bottom: 0px solid $accentColor;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;
            z-index: 1;
        }
        
        33% {
            width: 150px;
            height: 0px;
            border-bottom: 20px solid $accentColor;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            z-index: 1;
        }
        
        66% {
            width: 150px;
            height: 0px;
            border-bottom: 20px solid $accentColor;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            z-index: 1;
        }
        
        100% {
            width: 100px;
            height: 0px;
            border-bottom: 0px solid $accentColor;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;
            z-index: 1;
        }
    }
    
    @keyframes a2-slot-y {
        0% {
            position: relative;
            top: 0px;
            content: '';
            border: 0px solid $accentColor;
            height: 0px;
            width: 100px;
            z-index: 6;
            
            margin-right: auto;
            margin-left: auto;
        }
        
        33% {
            position: relative;
            top: -20px;
            content: '';
            border: 2px solid $accentColor;
            height: 20px;
            width: 100px;
            z-index: 6;
            
            margin-right: auto;
            margin-left: auto;
        }
        
        66% {
            position: relative;
            top: -20px;
            content: '';
            border: 2px solid $accentColor;
            height: 20px;
            width: 100px;
            z-index: 6;
            
            margin-right: auto;
            margin-left: auto;
        }
        
        100% {
            position: relative;
            top: 0px;
            content: '';
            border: 0px solid $accentColor;
            height: 0px;
            width: 100px;
            z-index: 6;
            
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    @keyframes a2-slot-z {
        0% {
            position: relative;
            top: 0px;
            left: 0;
            content: '';
            border-bottom: 0px solid white;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;
            height: 0px;
            width: 100px;
            
            z-index: 3;
            
            margin-right: auto;
            margin-left: auto;
        }
        
        33% {
            position: relative;
            top: -38px;
            left: 0;
            content: '';
            border-bottom: 16px solid white;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            height: 0px;
            width: 138px;
            
            z-index: 3;
            
            margin-right: auto;
            margin-left: auto;
        }
        
        66% {
            position: relative;
            top: -38px;
            left: 0;
            content: '';
            border-bottom: 16px solid white;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            height: 0px;
            width: 138px;
            
            z-index: 3;
            
            margin-right: auto;
            margin-left: auto;
        }
        
        100% {
            position: relative;
            top: 0px;
            left: 0;
            content: '';
            border-bottom: 0px solid white;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;
            height: 0px;
            width: 100px;
            
            z-index: 3;
            
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    
    .mail-slot-x {
        margin-right: auto;
        margin-left: auto;
        border-bottom: 20px solid $accentColor;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 150px;
        
        position: relative;
        
        z-index: 1;
    }
    
    .mail-slot-y {
        position: relative;
        top: -20px;
        content: '';
        border: 2px solid $accentColor;
        height: 20px;
        width: 100px;
        z-index: 6;
        
        margin-right: auto;
        margin-left: auto;
    }
    
    .mail-slot-z {
        position: relative;
        top: -38px;
        content: '';
        border-bottom: 16px solid white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0px;
        width: 138px;
        
        z-index: 3;
        
        margin-right: auto;
        margin-left: auto;
    }
    
    
    .a2-run .mail-slot-x,
    .a2-run .mail-slot-y,
    .a2-run .mail-slot-z {
        display: none;
    }
    
    .a2-end .mail-slot-x {
        display: block;
        
        animation-name: a2-slot-x;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        
        width: 100px;
        height: 0px;
        border-bottom: 0px solid $accentColor;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        z-index: 1;
    }
    
    .a2-end .mail-slot-y {
        display: block;
        
        animation-name: a2-slot-y;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        
        position: absolute;
        bottom: -20px;
        left: 0px;
        content: '';
        border: 2px solid $accentColor;
        height: 20px;
        width: 100px;
        z-index: 6;
    }
    
    .a2-end .mail-slot-z {
        display: block;
        
        animation-name: a2-slot-z;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        
        position: absolute;
        bottom: -18px;
        left: -19px;
        content: '';
        border-bottom: 16px solid white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0px;
        width: 138px;
        
        
        
        z-index: 3;
    }
}