.g4 {

    .ce-effect {
        height: 200px;
    }

    .logo-group {
        position: absolute;
        right: 0;
        left: 0;

    }

    .rolling-letters {
        font-size: 80px;
        font-weight: bold;
        background-color: #fff;
        line-height: 1;
        color: #333;
    }


    $startPos: 125px;

    .env-container {
        font-size: 84px;
        position: absolute;
        left: $startPos;
        bottom: 64px;
        line-height: 1;
        // top: 13px;
        // left: 125px;

        height: 1px;
        width: 1px;

        // animation-name: container-move;
        // animation-duration: 5s;
        // animation-fill-mode: forwards;
    }

    .env-square {
        height: 58px;
        width: 89px;
        background-color: #2196f3;
        border: 4px solid #2196f3;
        z-index: 1;
        animation-name: env-roll;
        animation-duration: 5s;
        animation-fill-mode: forwards;

    }


    .ibx-env-animate {
        animation: roll 2s linear infinite;
    }


    // .frame {
    //     position: fixed;
    //     top:0px;
    //     left:0px;
    //     bottom:-50px;
    //     right:0px;
    //     animation: shake $time ease-in-out infinite;
        // .ground {
        //     position: absolute;
        //     top:75%;
        //     left:0px;
        //     right:0px;
        //     bottom:0px;
        //     background-color:#656D78;
        // }
        // .placement {
        //     position: absolute;
        //     bottom:25%;
        //     left:30%;
        //     animation: placement-move $time linear infinite;
        // }
        // .square {
        //     width:200px;
        //     height:200px;
        //     background-color:#BAA286;
        //     transform-origin:200px 200px;
        //     animation: roll $time linear infinite;
        // }
    // }

    @keyframes container-move {
        0% {
            transform: rotate(0deg);
            transform-origin: bottom right;
        }
        50% {
            transform: rotate(0deg);
            transform-origin: bottom right;
        }
        100% {
            transform: rotate(90deg);
            transform-origin: bottom right;
        }
    }
    @keyframes env-roll {
        0% {
            transform: rotate(0deg);
            transform-origin: bottom right;
        }
        20% {
            transform: rotate(90deg);
            transform-origin: bottom right;
        }
        20.1% {
            transform:   translate(58px, 100%) rotate(90deg);
            transform-origin: top right;
        }
        40% {
            transform:  translate(58px, 100%) rotate(180deg);
            transform-origin: top right;
        }
        40.1% {
            transform: translate(237px, 100%) rotate(180deg);
            transform-origin: top left;
        }
        60% {
            transform: translate(237px, 100%) rotate(270deg);
            transform-origin: top left;
        }
        60.1% {
            transform: translate(295px, 0%) rotate(270deg);
            transform-origin: bottom left;
        }
        80% {
            // transform: translate(400%, 0%) rotate(360deg);
            // transform-origin: left bottom;

            transform: translate(295px, 0%) rotate(360deg);
            transform-origin: bottom left;
        }
        80.1% {
            // transform: translate(400%, 0%) rotate(360deg);
            // transform-origin: left bottom;

            transform: translate(295px, 0%) rotate(360deg);
            transform-origin: bottom right;
        }
        100% {
            // transform: translate(400%, 0%) rotate(360deg);
            // transform-origin: left bottom;

            transform: translate(295px, 0%) rotate(450deg);
            transform-origin: bottom right;
        }
    }


    // I
    .i {
        color: transparent;
        animation-name: i-animate;
        animation-duration: .5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes i-animate {
        0% {
            color: transparent;
        }

        1%, 100% {
            color: #333;
        }
    }

    // N
    .n {
        color: transparent;
        animation-name: n-animate;
        animation-duration: .5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes n-animate {
        0% {
            color: transparent;
        }

        1%, 100% {
            color: #333;
        }
    }

    // B
    .b {
        color: transparent;
        animation-name: b-animate;
        animation-duration: .5s;
        animation-delay: 2.8s;
        animation-fill-mode: forwards;
    }

    @keyframes b-animate {
        0% {
            color: transparent;
        }

        1%, 100% {
            color: #333;
        }
    }

    // O
    .o {
        color: transparent;
        animation-name: o-animate;
        animation-duration: .5s;
        animation-delay: 3.9s;
        animation-fill-mode: forwards;
    }

    @keyframes o-animate {
        0% {
            color: transparent;
        }

        1%, 100% {
            color: #333;
        }
    }

    // X
    .x {
        color: #fff;
        position: relative;
        top: 1px;
        z-index: 2;
        // animation-name: x-animate;
        // animation-duration: .5s;
        // animation-delay: 3.5s;
        // animation-fill-mode: forwards;
    }

    @keyframes x-animate {
        0% {
            color: transparent;
        }

        1%, 100% {
            color: #333;
        }
    }


}