.g4 {
    
    .ce-effect {
        height: 200px;
    }
    
    .logo-group {
        position: absolute;
        right: 0;
        left: 0;
        
    }
    
    .rolling-letters {
        font-size: 84px;
        font-weight: bold;
        background-color: #fff;
        line-height: 1;
    }

    
    $startPos: 0px;
    
    .env-container {
        font-size: 84px;
        position: absolute;
        left: $startPos;
        bottom: 0px;
        line-height: 1;
        // top: 13px;
        // left: 125px;
        
        height: 1px;
        width: 1px;
        
        // animation-name: container-move;
        // animation-duration: 5s;
        // animation-fill-mode: forwards;
    }
    
    .env-square {
        height: 58px;
        width: 89px;
        background-color: white;
        border: 4px solid $fontColor;
        
        animation-name: env-roll;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        
    }
    

    .ibx-env-animate {
        animation: roll 2s linear infinite;
    }


    // .frame {
    //     position: fixed;
    //     top:0px;
    //     left:0px;
    //     bottom:-50px;
    //     right:0px;
    //     animation: shake $time ease-in-out infinite;
        // .ground {
        //     position: absolute;
        //     top:75%;
        //     left:0px;
        //     right:0px;
        //     bottom:0px;
        //     background-color:#656D78;
        // }
        // .placement {
        //     position: absolute;
        //     bottom:25%;
        //     left:30%;
        //     animation: placement-move $time linear infinite;
        // }
        // .square {
        //     width:200px;
        //     height:200px;
        //     background-color:#BAA286;
        //     transform-origin:200px 200px;
        //     animation: roll $time linear infinite;
        // }
    // }

    @keyframes container-move {
        0% {
            transform: rotate(0deg);
            transform-origin: bottom right;
        }
        50% {
            transform: rotate(0deg);
            transform-origin: bottom right;
        }
        100% {
            transform: rotate(90deg);
            transform-origin: bottom right;
        }
    }
    @keyframes env-roll {
        0% {
            transform: rotate(0deg);
            transform-origin: right bottom;
        }
        25% {
            transform: rotate(90deg);
            transform-origin: right bottom;
        }
        25.1% {
            transform:   translate(58px, 100%) rotate(90deg);
            transform-origin: top right;
        }
        50% {
            transform:  translate(58px, 100%) rotate(180deg);
            transform-origin: top right;
        }
        50.1% {
            transform: translate(237px, 100%) rotate(180deg);
            transform-origin: left top;
        }
        75% {
            transform: translate(237px, 100%) rotate(270deg);
            transform-origin: left top;
        }
        // 75.1% {
        //     transform: translate(400%, 0%) rotate(270deg);
        //     transform-origin: left bottom;
        // }
        100% {
            // transform: translate(400%, 0%) rotate(360deg);
            // transform-origin: left bottom;
            
            transform: translate(237px, 100%) rotate(270deg);
            transform-origin: left top;
        }
    }
    // @keyframes shake {
    //     0%, 39%, 50%, 100% {
    //         transform:translateY(0px);
    //     }
    //     42% {
    //         transform:translateY(-20px);
    //     }
    //     45% {
    //         transform:translateY(15px);
    //     }
    //     47% {
    //         transform:translateY(-10px);
    //     }
    //     49% {
    //         transform:translateY(5px);
    //     }
    // }


}