.g2 {
    .logo-group {
        width: 800px;
        height: 400px;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
        border-radius: 100px;
    }

    .i, .n, .b, .o, .x {
        font-size: 96px;
        font-weight: bold;
    }

    .letters1 {
        position: relative;
    }

    .letters2 {
        position: relative;
        color: #2196f3;
        bottom: 143px;
    }


    .letters1-animate {
        background-repeat: no-repeat;
        animation-duration: 3.0s;
        animation-name: letters2-animate;
        animation-fill-mode: forwards;
    }

    @keyframes letters2-animate {
        0% {
            font-size: 96px;
        }

        15% {
            font-size: 125px;
        }

        50% {
            font-size: 96px;
        }
    }


    .letters2-animate {
        background-repeat: no-repeat;
        animation-duration: 2.14s;
        animation-name: letters1-animate;
        animation-fill-mode: forwards;
        // animation-timing-function: ease;
        // animation-direction: alternate;
    }

    @keyframes letters1-animate {
        0% {
            text-shadow: none;
        }

        15% {
            text-shadow: none;
        }

        59% {
            text-shadow: none;
        }

        60% {
            text-shadow: 0px 0px 0px #333;
        }

        65% {
            text-shadow: 0px 0px 200px #333;
        }

        100% {
            text-shadow: 0px 0px 200px #fff;
        }
    }

    .logo-img {
        margin-top: 95px;
        margin-left: 15px;
    }


    .logo {
        position: relative;
        // margin-top: 85px;
    }

    .logo-group .ibx-env {
        position: relative;
        left: 105;
        bottom: 1px;
        font-size: 96px;
        animation-delay: 2.0s;
        animation-duration: 2.0s;
        animation-name: env;
        animation-fill-mode: forwards;
    }

    @keyframes env {
        0% {
            color: #000;
        }

        100% {
            color: #2196f3;
        }
    }
}